
.root-panel {
    /* Plus de dossier, juste le nom du fichier */
    -fx-background-image: url('tapis.jpg'); 

    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

.title-text {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #FFD700; /* Or */
}

.score-text {
    -fx-font-size: 18px;
    -fx-text-fill: white;
}

.message-text {
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, black, 10, 0, 0, 0);
}

.btn-action {
    -fx-background-color: #1B5E20;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-min-width: 100px;
    -fx-border-color: #FFD700;
    -fx-border-radius: 5px;
}
.btn-action:hover {
    -fx-background-color: #388E3C;
    -fx-cursor: hand;
}